/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
    background: #b7b7b7;
   }

#contenedorPago .cajaInformacion { width: 71.496%; margin: 0 auto; }

#contenedorPago .cajaInformacion h1 {text-align: center;text-transform: uppercase;font-size: 20px;padding: 40px 0;}

#contenedorPago .cajaInformacion ul { padding: 0; margin: 0; font-size: 0; }

#contenedorPago .cajaInformacion ul li { padding: 0; margin: 0 0 36px; display: inline-block; font-size: 14px; letter-spacing: 0.3px; }

#contenedorPago .cajaInformacion ul li.activo { height: 32px; text-align: center; font-size: 14px; font-weight: 600; color: #fff; text-transform: uppercase; padding: 7px 25px; position: relative; background: #076c95; }

#contenedorPago .cajaInformacion ul li.activo:after { content: ''; display: block; background: url(../../img/img-activoAzul.png) no-repeat center right; position: absolute; top: 0; right: -10px; width: 10px; height: 32px; z-index: 1; }

#contenedorPago .cajaInformacion ul li.noActivo1 { background: #e1e1e1; height: 32px; text-align: center; font-size: 14px; font-weight: 600; color: #5f5f61; text-transform: uppercase; padding: 7px 25px; position: relative; }

#contenedorPago .cajaInformacion ul li.noActivo1:after { content: ''; display: block; background: url(../../img/img-activoGris.png) no-repeat center right; position: absolute; top: 0; right: -10px; width: 10px; height: 32px; z-index: 1; }

#contenedorPago .cajaInformacion ul li.noActivo2 { background: #d2d2d2; height: 32px; text-align: center; font-size: 14px; font-weight: 600; color: #5f5f61; text-transform: uppercase; padding: 7px 25px; position: relative; }

#contenedorPago .cajaInformacion ul li.noActivo2:after { content: ''; display: block; background: url(../../img/img-activoGrisObscuro.png) no-repeat center right; position: absolute; top: 0; right: -10px; width: 10px; height: 32px; z-index: 1; }

#contenedorPago .cajaInformacion h2 { padding: 0; margin: 0 0 8px; font-size: 1.714em; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; }

#contenedorPago .cajaInformacion p.titInfo { padding: 0; margin: 0 0 40px; font-size: 1em; font-weight: 400; font-family: 'Numans', sans-serif; letter-spacing: 0.3px; }

#contenedorPago .cajaInformacion .plecaTit { background: #d2d2d2; padding: 22px 40px; }

#contenedorPago .cajaInformacion .plecaTit p { padding: 0; margin: 0; font-size: 1.143em; font-weight: 600; font-family: 'Dosis', sans-serif; text-transform: uppercase; letter-spacing: 0.3px; }

#contenedorPago .cajaInformacion .contenidoFormulario { background: #fff; padding: 35px 40px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul { padding: 0; margin: 0; font-size: 0; width: 100%; max-width: 844.55px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li { padding: 0; margin: 0; font-size: 14px; display: inline-block; width: 50%; letter-spacing: normal; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li label { padding: 0; margin: 0; font-size: 1.143em; font-weight: 600; display: block; text-transform: uppercase; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li input { background: #fff; border-radius: 0; border: 1px solid #d2d2d2; width: 100%; max-width: 382px; height: 46px; font-size: 1em; font-weight: 400; font-family: 'Numans', sans-serif; -webkit-box-shadow: inherit; box-shadow: inherit; margin-top: 8px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check { /* Remove the custom styling for IE 7-8 */ }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check label { font-size: 14px; text-transform: none; font-family: 'Numans', sans-serif; font-weight: 400; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check input[type="radio"], #contenedorPago .cajaInformacion .contenidoFormulario ul li .check input[type="checkbox"] { position: absolute; left: -999em; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check label:before { display: inline-block; position: relative; top: 0.5em; left: -4px; content: ''; width: 25px; height: 24px; background-image: url(../../img/formelements.png); background-repeat: no-repeat; padding-right: 30px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check input[type="radio"] + label:before { background-position: 0 -26px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check input[type="radio"]:checked + label:before { background-position: 0 0; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check input[type="checkbox"] + label:before { background-position: -25px -25px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check input[type="checkbox"]:checked + label:before { background-position: -25px 0; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check .ie8 label:before { display: none; content: none; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check .ie8 input[type="checkbox"], #contenedorPago .cajaInformacion .contenidoFormulario ul li .check .ie8 input[type="radio"], #contenedorPago .cajaInformacion .contenidoFormulario ul li .check .ie7 input[type="checkbox"], #contenedorPago .cajaInformacion .contenidoFormulario ul li .check .ie7 input[type="radio"] { position: static; left: 0; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check .ie8 input[type="checkbox"], #contenedorPago .cajaInformacion .contenidoFormulario ul li .check .ie8 input[type="radio"] { position: relative; top: 5px; margin-right: 0.5em; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .check input[type="text"]:focus, #contenedorPago .cajaInformacion .contenidoFormulario ul li .check textarea:focus { border-color: #000; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li select { line-height: inherit; margin: 0 0 0 0px; padding: 7px 29px 7px 30px; font-size: 0.929em; height: 46px; font-family: 'Numans', sans-serif; width: 382px; background: #fff url(../../img/img-selectorChat.png) no-repeat 345px 20px; -webkit-border-radius: 1%; -moz-border-radius: 4px; border-radius: 1px; -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset; outline: none; display: inline-block; -webkit-appearance: none; -moz-appearance: none; cursor: pointer; border: 1px solid #d2d2d2; color: #999999; -ms-appearance: none; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .form-group { margin-bottom: 20px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .cpInput { width: 118px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .listSegunda { width: 100%; max-width: 291.36px; }

#contenedorPago .cajaInformacion .contenidoFormulario ul li .listSegunda li input { width: 118px; }

#contenedorPago .cajaInformacion .contenidoFormulario .contSiguiente1, #contenedorPago .cajaInformacion .contenidoFormulario .contSiguiente2 { display: none; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto { width: 100%; max-width: 780px; margin: 40px auto 20px; /* Remove the custom styling for IE 7-8 */ }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto label { font-size: 14px; text-transform: none; font-family: 'Numans', sans-serif; font-weight: 400; display: block; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto input[type="radio"], #contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto input[type="checkbox"] { position: absolute; left: -999em; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto label:before { display: inline-block; position: relative; top: -3px; left: -4px; content: ''; width: 25px; height: 24px; background-image: url(../../img/formelements.png); background-repeat: no-repeat; padding-right: 30px; float: left; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto input[type="radio"] + label:before { background-position: 0 -26px; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto input[type="radio"]:checked + label:before { background-position: 0 0; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto input[type="checkbox"] + label:before { background-position: -25px -25px; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto input[type="checkbox"]:checked + label:before { background-position: -25px 0; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto .ie8 label:before { display: none; content: none; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto .ie8 input[type="checkbox"], #contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto .ie8 input[type="radio"], #contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto .ie7 input[type="checkbox"], #contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto .ie7 input[type="radio"] { position: static; left: 0; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto .ie8 input[type="checkbox"], #contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto .ie8 input[type="radio"] { position: relative; top: 5px; margin-right: 0.5em; }

#contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto input[type="text"]:focus, #contenedorPago .cajaInformacion .contenidoFormulario .cajaAcepto textarea:focus { border-color: #000; }

#contenedorPago .cajaInformacion .contenidoFormulario .contBotones { background: #fff; }

#contenedorPago .cajaInformacion .contenidoFormulario ul.botones { padding: 40px 0; margin: 0 auto; max-width: 420px; text-align: center; }

#contenedorPago .cajaInformacion .contenidoFormulario ul.botones li { padding: 0 12px; margin: 0; display: inline-block; }

#contenedorPago .cajaInformacion .contenidoFormulario ul.botones li .botonCancelar { width: 100%; min-width: 176px; margin: 0 auto; }

#contenedorPago .cajaInformacion .contenidoFormulario ul.botones li .botonGuardar { width: 100%; min-width: 176px; margin: 0 auto; border: 0; }

#contenedorPago .cajaInformacion .contenedorFormaDePago { background: #fff; padding: 54px 40px; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma { display: block; margin: 0 0 12px; /* Remove the custom styling for IE 7-8 */ }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma:after { content: ''; display: block; clear: both; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma label { font-size: 14px; text-transform: none; font-family: 'Numans', sans-serif; font-weight: 400; display: block; float: left; margin-bottom: 0; margin-top: 4px; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma input[type="radio"], #contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma input[type="checkbox"] { position: absolute; left: -999em; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma label:before { display: inline-block; position: relative; top: -3px; left: -4px; content: ''; width: 25px; height: 24px; background-image: url(../../img/formelements.png); background-repeat: no-repeat; padding-right: 30px; float: left; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma input[type="checkbox"] + label:before { background-position: 0 -26px; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma input[type="checkbox"]:checked + label:before { background-position: 0 0; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma input[type="radio"] + label:before { background-position: -25px -25px; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma input[type="radio"]:checked + label:before { background-position: -25px 0; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma .ie8 label:before { display: none; content: none; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma .ie8 input[type="checkbox"], #contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma .ie8 input[type="radio"], #contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma .ie7 input[type="checkbox"], #contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma .ie7 input[type="radio"] { position: static; left: 0; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma .ie8 input[type="checkbox"], #contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma .ie8 input[type="radio"] { position: relative; top: 5px; margin-right: 0.5em; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma input[type="text"]:focus, #contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma textarea:focus { border-color: #000; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma ul { padding: 0 0 0 14px; margin: 0; float: left; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaForma ul li { padding: 0 5px; margin: 0; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaHov { display: none; padding: 8px 70px; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaHov span { font-size: 1em; font-weight: 400; font-family: 'Numans', sans-serif; display: block; letter-spacing: 0.3px; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaHov ul { padding: 0; margin: 0; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaHov ul li { padding: 4px 24px 28px 0; margin: 0; display: inline-block; vertical-align: middle; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .cajaHov .botonDescarga { width: 100%; max-width: 160px !important; margin-bottom: 20px; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .pagHov { display: block; }

#contenedorPago .cajaInformacion .contenedorFormaDePago .contBotones { background: #fff; margin-top: 28px; border-top: 1px solid #d2d2d2; }

#contenedorPago .cajaInformacion .contenedorFormaDePago ul.botones { padding: 40px 0; margin: 0 auto; max-width: 420px; text-align: center; }

#contenedorPago .cajaInformacion .contenedorFormaDePago ul.botones li { padding: 0 12px; margin: 0; display: inline-block; }

#contenedorPago .cajaInformacion .contenedorFormaDePago ul.botones li .botonCancelar { width: 100%; min-width: 176px; margin: 0 auto; }

#contenedorPago .cajaInformacion .contenedorFormaDePago ul.botones li .botonGuardar { width: 100%; min-width: 176px; margin: 0 auto; border: 0; }

#contenedorPago .cajaInformacion .contenedorConfirmacion { background: #fff; padding: 20px 40px 138px; }

#contenedorPago .cajaInformacion .contenedorConfirmacion img {display: block;margin:0 auto;}

#contenedorPago .cajaInformacion .contenedorConfirmacion h2 { text-align: center; padding: 0; margin: 0 0 16px; font-size: 1.714em; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; line-height: normal; }

#contenedorPago .cajaInformacion .contenedorConfirmacion span { display: block; font-size: 1em; font-weight: 400; font-family: 'Numans', sans-serif; letter-spacing: 0.3px; text-align: center; }

#contenedorPago .cajaInformacion .contenedorConfirmacion .botonFinalizar { width: 100%; max-width: 176px !important; margin: 38px auto; }

.enviar {width: 100%;max-width: 200px;background: #f68a24;color:#fff;padding: 7px 0;border: 0;display: block;border: 0;margin:0 auto;}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
